
   {% extends "base.html" %}
    {% block title %}Записи сообщества {{ group.title }}{% endblock %} | Yatube
    {% block header %}{{ group.title }}{% endblock %}
        
    {% block content %}
      <p>{{ group.description }}</p>
      {% for post in posts %}
     
        {% load thumbnail %}
        {% thumbnail post.image "960x239" crop="center" upscale=True as im %}
          <img class="card-img" src="{{ im.url }}">
        {% endthumbnail %}
        {% include "posts/post_item.html" with post=post %}
        
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            {% if post.comments.exists %}           
            {% endif %}      
      {% endfor %}
      
      {% include "paginator.html" %}
    </p>
    
      <small class="text-muted">{% now "N, j, Y" %}</small>
    </div>
    {% endblock %}
